<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mujun.mng.dao.UserDao" >
    <resultMap id="BaseResultMap" type="com.mujun.mng.model.User" >
        <id column="name" property="name" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="DECIMAL" />
        <result column="password" property="password" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryUserInfo"  resultType="java.util.HashMap" parameterType="java.util.HashMap" >
        select * from user
        where 1=1
    </select>

</mapper>